{% extends 'base.html' %}
{% load static %}

{% block title %}
  Admission
{% endblock title %}


{% block content %}

<!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 400px"
      >
        <h3 class="display-3 font-weight-bold text-white">Admission</h3>
        <div class="d-inline-flex text-white">
          <p class="m-0"><a class="text-white" href="{% url 'home' %}">Home</a></p>
          <p class="m-0 px-2">/</p>
          <p class="m-0">Apply Online</p>
        </div>
      </div>
    </div>
<!-- Header End -->


    <!-- About Start -->
    <div class="container-fluid py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-5">
            <img
              class="img-fluid rounded mb-5 mb-lg-0"
              src="{% static 'img/about-1.jpg' %}"
              alt=""
            />
          </div>

          <div class="col-lg-7">
            <p class="section-title pr-5">
              <span class="pr-2">Admission</span>
            </p>
            <h1 class="mb-4">Admission in Progress</h1>
            <p>
              We ae currently admitting students at all levels
            </p>
            <div class="row pt-2 pb-4">
              <div class="col-6 col-md-4">
                <img class="img-fluid rounded" src="{% static 'img/about-2.jpg' %}" alt="" />
              </div>
              <div class="col-6 col-md-8">
                <ul class="list-inline m-0">
                  <li class="py-2 border-top border-bottom">
                    <i class="fa fa-check text-primary mr-3"></i>Pre-School
                  </li>
                  <li class="py-2 border-bottom">
                    <i class="fa fa-check text-primary mr-3"></i>Primary
                  </li>
                  <li class="py-2 border-bottom">
                    <i class="fa fa-check text-primary mr-3"></i>Junior High
                  </li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- About End -->

    <!-- Registration Start -->
    <div class="container-fluid py-5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 mb-5 mb-lg-0">
            <p class="section-title pr-5">
              <span class="pr-2">Application</span>
            </p>
            <h1 class="mb-4">Apply Now</h1>
            <p>
              You can apply to our school by filling the form or downloading the application form and submitting
              it to the school's secretary's office.
            </p>
            <ul class="list-inline m-0">
              <li class="py-2">
                <i class="fa fa-check text-success mr-3"></i>Download the application form below
              </li>
              <li class="py-2">
                <i class="fa fa-check text-success mr-3"></i>Fill in the needed details
              </li>
              <li class="py-2">
                <i class="fa fa-check text-success mr-3"></i>Submit it to the school's secretary's office.
              </li>
            </ul>
            <a href="" class="btn btn-primary mt-4 py-2 px-4">Application Form</a>
          </div>
          <div class="col-lg-5">
            <div class="card border-0">
              <div class="card-header bg-secondary text-center p-4">
                <h1 class="text-white m-0">Apply Now</h1>
              </div>
              <div class="card-body rounded-bottom bg-primary p-5">
                <form>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control border-0 p-4"
                      placeholder="Your Name"
                      required="required"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="email"
                      class="form-control border-0 p-4"
                      placeholder="Your Email"
                      required="required"
                    />
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control border-0 p-4"
                      placeholder="Your Mobile Number"
                      required="required"
                    />
                  </div>
                  <div class="form-group">
                    <input
                            type="date"
                            name=""
                            id=""
                            class="form-control border-0 p-4"
                      placeholder="Your Email"
                      required="required">
                  </div>
                  <div>
                    <button
                      class="btn btn-secondary btn-block border-0 py-3"
                      type="submit"
                    >
                      Apply
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Registration End -->

{% endblock content %}