{% extends 'base.html' %}
{% load static %}

{% block title %}
  Our Articles
{% endblock title %}


{% block content %}

<!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 400px"
      >
        <h3 class="display-3 font-weight-bold text-white">Our Articles</h3>
        <div class="d-inline-flex text-white">
          <p class="m-0"><a class="text-white" href="{% url 'home' %}">Home</a></p>
          <p class="m-0 px-2">/</p>
          <p class="m-0">Our Articles</p>
        </div>
      </div>
    </div>
<!-- Header End -->


<!-- ======= article Single Section ======= -->
    <section id="article" class="article">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="{{article.picture_1.url}}" alt="" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="article-single.html">{{article.title}}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="article-single.html">{{article.author}}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="article-single.html"><time datetime="2020-01-01">{{article.date_posted}}</time></a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>{{article.detail_1}}</p>

                <blockquote>
                  <p>{{article.blockquote}}</p>
                </blockquote>

                {% if article.detail_2 %}
                <p>{{article.detail_2}}</p>
                {% endif %}

                {% if article.topic_3 %}
                  <h3>{{article.topic_3}}</h3>
                {% endif %}

                {% if article.detail_3 %}
                <p>{{article.detail_3}}</p>
                {% endif %}

                {% if article.picture_2.url %}
                <img src="{{article.picture_2.url}}" class="img-fluid" alt="">
                {% endif %}

                {% if article.topic_4 %}
                  <h3>{{article.topic_4}}</h3>
                {% endif %}

                {% if article.detail_4 %}
                <p>{{article.detail_4}}</p>
                {% endif %}

                {% if article.detail_5 %}
                <p>{{article.detail_5}}</p>
                {% endif %}

                {% if article.detail_6 %}
                <p>{{article.detail_6}}</p>
                {% endif %}

              </div>

            </article><!-- End article entry -->

            <div class="article-author d-flex align-items-center">
              <div>
                <h4>Author: {{article.author}}</h4>
              </div>
            </div><!-- End article author bio -->

          </div><!-- End article entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Search</h3>
              <div class="sidebar-item search-form">
                <form action="">
                  <input type="text">
                  <button type="submit"><i class="bi bi-search"></i></button>
                </form>
              </div><!-- End sidebar search formn-->

              <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                {% for article in recent_article %}
                <div class="post-item clearfix">
                  <img src="{{article.picture_1.url}}" alt="">
                  <h4><a href="{% url 'article_details' article.id %}">{{article.title}}</a></h4>
                  <time datetime="{{article.date_posted}}">{{article.date_posted}}</time>
                </div>
                {% endfor %}

              </div><!-- End sidebar recent posts-->

            </div><!-- End sidebar -->

          </div><!-- End article sidebar -->

        </div>

      </div>
    </section><!-- End article Single Section -->

{% endblock content %}