{% extends 'base.html' %}
{% load static %}

{% block title %}
  Our Articles
{% endblock title %}


{% block content %}

<!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 400px"
      >
        <h3 class="display-3 font-weight-bold text-white">{{article.title}}</h3>
        <div class="d-inline-flex text-white">
          <p class="m-0"><a class="text-white" href="{% url 'home' %}">Home</a></p>
          <p class="m-0 px-2">/</p>
          <p class="m-0">Our Articles</p>
        </div>
      </div>
    </div>
<!-- Header End -->

  <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="{{article.image_1.url}}" alt="" class="img-fluid" width="100%">
              </div>

              <h2 class="entry-title text-center">
                <a href="blog-single.html">{{article.title}}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center">
                    <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                      <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z"/>
                    </svg>  {{article.author}}</a>
                  </li>
                  <li class="d-flex align-items-center">
                    <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-event" viewBox="0 0 16 16">
                      <path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1z"/>
                      <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5z"/>
                    </svg>
                    <time datetime="{{article.created_on}}">{{article.created_on|date:"D d M, Y"}}</time></a></li>
                  <li class="d-flex align-items-center">
                    <a href="#">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                          <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7M5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0m4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0m3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2"/>
                      </svg>
                      {{article.devotionalcomment_set.count}} Comments</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>
                  {{article.paragraph_1}}
                </p>

                <p>
                  {{article.paragraph_2}}
                </p>

                <blockquote>
                  <p>
                    {{article.quote_1}}
                  </p>
                </blockquote>

                <p>
                  {{article.paragraph_3}}
                </p>

                <p>
                  {{article.paragraph_4}}
                </p>

                {% if article.image_2 %}
                <img src="{% static 'assets/img/blog/blog-inside-post.jpg' %}" class="img-fluid" alt="">
                {% endif %}

                {% if article.paragraph_5 %}
                <p>
                  {{article.paragraph_5}}
                </p>
                {% endif %}

                {% if article.paragraph_6 %}
                <p>
                  {{article.paragraph_6}}
                </p>
                {% endif %}

                {% if article.paragraph_7 %}
                <p>
                  {{article.paragraph_7}}
                </p>
                {% endif %}

                {% if article.paragraph_8 %}
                <p>
                  {{article.paragraph_8}}
                </p>
                {% endif %}

                {% if article.paragraph_9 %}
                <p>
                  {{article.paragraph_9}}
                </p>
                {% endif %}

                {% if article.quote_2 %}
                <blockquote>
                  <p>
                    {{article.quote_2}}
                  </p>
                </blockquote>
                {% endif %}

              </div>

              <div class="entry-footer">
                <i class="bi bi-folder"></i>
                <ul class="cats">
                  <li><a href="#">{{article.category}}</a></li>
                </ul>
              </div>

            </article><!-- End blog entry -->

            <div class="blog-comments">

              <h4 class="comments-count">{{article.devotionalcomment_set.count}} Comments</h4>

              {% for comment in comments %}
              <div id="comment-1" class="comment">
                <div class="d-flex">
                  <div>
                    <h5><b>{{comment.name}}</b></h5>
                    <em><small><time datetime="{{comment.created_on}}">{{comment.created_on}}</time></small></em>
                    <p>
                     {{comment.comment}}
                    </p>
                  </div>
                </div>
              </div><!-- End comment #1 -->
              <hr>
              {% empty %}
                <p>No Comment Added</p>
              {% endfor %}

              <div class="reply-form">
                <h4>Leave a Reply</h4>
                <p>Your email address will not be published. Required fields are marked * </p>

                <form action="" method="post">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col form-group">
                      <input name="name" type="text" class="form-control" placeholder="Your Name*">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <textarea name="comment" class="form-control" placeholder="Your Comment*"></textarea>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Post Comment</button>

                </form>

              </div>

            </div><!-- End blog comments -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              <h3 class="sidebar-title">Recent Posts</h3>
              <div class="sidebar-item recent-posts">
                {% for article in recent_article %}
                <div class="post-item clearfix">
                  <img src="{{ article.image_1.url }}" alt="{{article.title}}">
                  <h4><a href="blog-single.html">{{article.title}}</a></h4>
                  <p style="margin-left: 1rem;">{{ article.paragraph_1|truncatechars:100 }}</p>
                  <time datetime="{{article.created_on}}">{{article.created_on}}</time>
                </div>
                {% empty %}
                <p>No Recent Posts </p>
                {% endfor %}

              </div><!-- End sidebar recent posts-->
            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

{% endblock content %}