{% extends 'base.html' %}
{% load static %}

{% block title %}
  Careers
{% endblock title %}


{% block content %}

<!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 400px"
      >
        <h3 class="display-3 font-weight-bold text-white">We are Hiring!</h3>
        <div class="d-inline-flex text-white">
          <p class="m-0"><a class="text-white" href="{% url 'home' %}">Home</a></p>
          <p class="m-0 px-2">/</p>
          <p class="m-0">Careers</p>
        </div>
      </div>
    </div>
<!-- Header End -->


  <!-- Blog Start -->
    <div class="container-fluid pt-5">
      <div class="container">
        <div class="text-center pb-2">
          <p class="section-title px-5">
            <span class="px-2">Positions</span>
          </p>
          <h1 class="mb-4">Available Positions</h1>
        </div>
        <div class="row pb-3">
          {% for position in  careers %}
          <div class="col-lg-4 mb-4">
            <div class="card border-0 shadow-sm mb-2">
              <img class="card-img-top mb-2" src="{{ position.picture.url }}" alt="" />
              <div class="card-body bg-light text-center p-4">
                <h4 class="">{{ position.title }}</h4>
                <div class="d-flex justify-content-center mb-3">
                  <small class="mr-3"
                    ><i class="fas fa-clock text-primary"></i> {{ position.deadline }}</small
                  >
                  <small class="mr-3"
                    ><i class="fa fa-folder text-primary"></i> {{ position.position }}</small
                  >
                </div>
                <p>
                  {{ position.job_description|truncatechars:140 }}
                </p>
                <a href = "mailto:abc@example.com" class="btn btn-primary px-4 mx-auto my-2"
                  >Apply Now</a
                >
              </div>
            </div>
          </div>
          {% empty %}
            <p class="text-center"><b>No Position Available</b></p>
          {% endfor %}
        </div>
      </div>
    </div>
  <!-- Blog End -->


    <!-- Blog Start -->
    <div class="container-fluid pt-5">
      <div class="container">
        <div class="text-center pb-2">
          <p class="section-title px-5">
            <span class="px-2">Rules</span>
          </p>
          <h1 class="mb-4">How to Apply for a position.</h1>
        </div>
        <div class="row pb-3">
          <div class="accordion accordion-flush" id="faqlist1">
                <div class="accordion-item">
                <h2 class="accordion-header faq">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-1">
                    How to Apply?
                  </button>
                </h2>
                <div id="faq-content-1" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Simply click on the Apply Now to apply via an email
                  </div>
                </div>
              </div>
            </div>
          <div class="accordion accordion-flush" id="faqlist2">
                <div class="accordion-item">
                <h2 class="accordion-header faq">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-content-2">
                    What are the Required Documents
                  </button>
                </h2>
                <div id="faq-content-2" class="accordion-collapse collapse" data-bs-parent="#faqlist1">
                  <div class="accordion-body">
                    Your CV and a Copy of Academic Certificate.
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  <!-- Blog End -->


{% endblock content %}