{% extends 'base.html' %}
{% load static %}

{% block title %}
  Gallery
{% endblock title %}


{% block content %}

<!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 400px"
      >
        <h3 class="display-3 font-weight-bold text-white">Gallery</h3>
        <div class="d-inline-flex text-white">
          <p class="m-0"><a class="text-white" href="{% url 'home' %}">Home</a></p>
          <p class="m-0 px-2">/</p>
          <p class="m-0">Gallery</p>
        </div>
      </div>
    </div>
<!-- Header End -->

<!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="text-center pb-2">
          <p class="section-title px-5">
            <span class="px-2">PICTURES</span>
          </p>
          <h1 class="mb-4">Below are some gallery of AG School.</h1>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              {% for gallery in  gallery_cat %}
                <li data-filter=".filter-{{gallery.category}}">{{gallery.category}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          {% for gallery in  galleries %}
            <div class="col-lg-4 col-md-6 portfolio-item filter-{{gallery.category}}">
            <div class="portfolio-wrap">
              <img src="{{gallery.image.url}}" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>{{gallery.detail}}</h4>
                <p>{{gallery.category}}</p>
                <div class="portfolio-links">
                  <a href="{{gallery.image.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{gallery.detail}}"><i class="bx bx-plus"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>

      </div>
    </section>
<!-- End Portfolio Section -->

{% endblock content %}