{% extends 'base.html' %}
{% load static %}

{% block title %}
  Our History
{% endblock title %}


{% block content %}

<!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 400px"
      >
        <h3 class="display-3 font-weight-bold text-white">Our History</h3>
        <div class="d-inline-flex text-white">
          <p class="m-0"><a class="text-white" href="{% url 'home' %}">Home</a></p>
          <p class="m-0 px-2">/</p>
          <p class="m-0">Our History</p>
        </div>
      </div>
    </div>
<!-- Header End -->


<!-- Detail Start -->
    <div class="container py-5">
      <div class="row pt-5">
        <div class="col-lg-8">
          <div class="d-flex flex-column text-left mb-3">
            <p class="section-title pr-5">
              <span class="pr-2">Our History</span>
            </p>
            <h1 class="mb-3">Our Humble Beginning</h1>
          </div>
          <div class="mb-5">
            <img
              class="img-fluid rounded w-100 mb-4"
              src="{% static 'img/detail.jpg' %}"
              alt="Image"
            />
            <p>
              Sadipscing labore amet rebum est et justo gubergren. Et eirmod
              ipsum sit diam ut magna lorem. Nonumy vero labore lorem sanctus
              rebum et lorem magna kasd, stet amet magna accusam consetetur
              eirmod. Kasd accusam sit ipsum sadipscing et at at sanctus et.
              Ipsum sit gubergren dolores et, consetetur justo invidunt at et
              aliquyam ut et vero clita. Diam sea sea no sed dolores diam
              nonumy, gubergren sit stet no diam kasd vero.
            </p>
            <p>
              Voluptua est takimata stet invidunt sed rebum nonumy stet, clita
              aliquyam dolores vero stet consetetur elitr takimata rebum
              sanctus. Sit sed accusam stet sit nonumy kasd diam dolores,
              sanctus lorem kasd duo dolor dolor vero sit et. Labore ipsum duo
              sanctus amet eos et. Consetetur no sed et aliquyam ipsum justo et,
              clita lorem sit vero amet amet est dolor elitr, stet et no diam
              sit. Dolor erat justo dolore sit invidunt.
            </p>
            <h2 class="mb-4">2015</h2>
            <img
              class="img-fluid rounded w-50 float-left mr-4 mb-3"
              src="{% static 'img/blog-1.jpg' %}"
              alt="Image"
            />
            <p>
              Diam dolor est labore duo invidunt ipsum clita et, sed et lorem
              voluptua tempor invidunt at est sanctus sanctus. Clita dolores sit
              kasd diam takimata justo diam lorem sed. Magna amet sed rebum eos.
              Clita no magna no dolor erat diam tempor rebum consetetur, sanctus
              labore sed nonumy diam lorem amet eirmod. No at tempor sea diam
              kasd, takimata ea nonumy elitr sadipscing gubergren erat.
              Gubergren at lorem invidunt sadipscing rebum sit amet ut ut,
              voluptua diam dolores at sadipscing stet. Clita dolor amet dolor
              ipsum vero ea ea eos. Invidunt sed diam dolores takimata dolor
              dolore dolore sit. Sit ipsum erat amet lorem et, magna sea at sed
              et eos. Accusam eirmod kasd lorem clita sanctus ut consetetur et.
              Et duo tempor sea kasd clita ipsum et. Takimata kasd diam justo
              est eos erat aliquyam et ut. Ea sed sadipscing no justo et eos
              labore, gubergren ipsum magna dolor lorem dolore, elitr aliquyam
              takimata sea kasd dolores diam, amet et est accusam labore eirmod
              vero et voluptua. Amet labore clita duo et no. Rebum voluptua
              magna eos magna, justo gubergren labore sit voluptua eos.
            </p>
            <h3 class="mb-4">2020</h3>
            <img
              class="img-fluid rounded w-50 float-right ml-4 mb-3"
              src="{% static 'img/blog-2.jpg' %}"
              alt="Image"
            />
            <p>
              Diam dolor est labore duo invidunt ipsum clita et, sed et lorem
              voluptua tempor invidunt at est sanctus sanctus. Clita dolores sit
              kasd diam takimata justo diam lorem sed. Magna amet sed rebum eos.
              Clita no magna no dolor erat diam tempor rebum consetetur, sanctus
              labore sed nonumy diam lorem amet eirmod. No at tempor sea diam
              kasd, takimata ea nonumy elitr sadipscing gubergren erat.
              Gubergren at lorem invidunt sadipscing rebum sit amet ut ut,
              voluptua diam dolores at sadipscing stet. Clita dolor amet dolor
              ipsum vero ea ea eos. Invidunt sed diam dolores takimata dolor
              dolore dolore sit. Sit ipsum erat amet lorem et, magna sea at sed
              et eos. Accusam eirmod kasd lorem clita sanctus ut consetetur et.
              Et duo tempor sea kasd clita ipsum et. Takimata kasd diam justo
              est eos erat aliquyam et ut. Ea sed sadipscing no justo et eos
              labore, gubergren ipsum magna dolor lorem dolore, elitr aliquyam
              takimata sea kasd dolores diam, amet et est accusam labore eirmod
              vero et voluptua. Amet labore clita duo et no.
            </p>
            <h2 class="mb-4">Present</h2>
            <img
              class="img-fluid rounded w-50 float-left mr-4 mb-3"
              src="{% static 'img/blog-1.jpg' %}"
              alt="Image"
            />
            <p>
              Diam dolor est labore duo invidunt ipsum clita et, sed et lorem
              voluptua tempor invidunt at est sanctus sanctus. Clita dolores sit
              kasd diam takimata justo diam lorem sed. Magna amet sed rebum eos.
              Clita no magna no dolor erat diam tempor rebum consetetur, sanctus
              labore sed nonumy diam lorem amet eirmod. No at tempor sea diam
              kasd, takimata ea nonumy elitr sadipscing gubergren erat.
              Gubergren at lorem invidunt sadipscing rebum sit amet ut ut,
              voluptua diam dolores at sadipscing stet. Clita dolor amet dolor
              ipsum vero ea ea eos. Invidunt sed diam dolores takimata dolor
              dolore dolore sit. Sit ipsum erat amet lorem et, magna sea at sed
              et eos. Accusam eirmod kasd lorem clita sanctus ut consetetur et.
              Et duo tempor sea kasd clita ipsum et. Takimata kasd diam justo
              est eos erat aliquyam et ut. Ea sed sadipscing no justo et eos
              labore, gubergren ipsum magna dolor lorem dolore, elitr aliquyam
              takimata sea kasd dolores diam, amet et est accusam labore eirmod
              vero et voluptua. Amet labore clita duo et no. Rebum voluptua
              magna eos magna, justo gubergren labore sit voluptua eos.
            </p>
          </div>

        </div>

        <div class="col-lg-4 mt-5 mt-lg-0">
          <!-- Author Bio -->
          <div
            class="d-flex flex-column text-center bg-primary rounded mb-5 py-5 px-4"
          >
            <img
              src="{% static 'img/user.jpg' %}"
              class="img-fluid rounded-circle mx-auto mb-3"
              style="width: 100px"
            />
            <h3 class="text-secondary mb-3">John Doe</h3>
            <p class="text-secondary mb-3">Founder</p>
            <p class="text-white m-0">
              Conset elitr erat vero dolor ipsum et diam, eos dolor lorem ipsum,
              ipsum ipsum sit no ut est. Guber ea ipsum erat kasd amet est elitr
              ea sit.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Detail End -->

{% endblock content %}