{% extends 'base.html' %}
{% load static %}

{% block title %}
  About Us
{% endblock title %}


{% block content %}

<!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 400px"
      >
        <h3 class="display-3 font-weight-bold text-white">Placement Test</h3>
        <div class="d-inline-flex text-white">
          <p class="m-0"><a class="text-white" href="{% url 'home' %}">Home</a></p>
          <p class="m-0 px-2">/</p>
          <p class="m-0">Placement Test</p>
        </div>
      </div>
    </div>
<!-- Header End -->


<!-- About Start -->
    <div class="container-fluid py-5">
      <div class="container">
        <div>
            <p class="section-title pr-5">
              <span class="pr-2">Admission</span>
            </p>
            <h1 class="mb-4">Placement Test</h1>
            <p>
              To be accepted as a student in our school, a placement test is conducted at the school premises
              with strict invigilation to ensure that the prospective student has the knowledge to be accepted
              into a particular class.
            </p>
            <div class="row pt-2 pb-4">
              <div class="col-6 col-md-4">
                <img class="img-fluid rounded" src="{% static 'img/about-2.jpg' %}" alt="" />
              </div>
              <div class="col-6 col-md-8">
                <ul class="list-inline m-0">
                  <table class="table table-hover table-bordered table-striped">
                      <thead>
                        <tr>
                          <th>Level</th>
                          <th>Subjects</th>
                          <th>Average Pass Mark</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><i class="fa fa-check text-primary mr-3"></i>Pre-School</td>
                          <td>Reading, Writing, Basic Arithmetics</td>
                          <td>80%</td>
                        </tr>
                        <tr>
                          <td><i class="fa fa-check text-primary mr-3"></i>Primary</td>
                          <td>English, Mathematics, Integrated Science</td>
                          <td>70%</td>
                        </tr>
                        <tr>
                          <td><i class="fa fa-check text-primary mr-3"></i>Pre-School</td>
                          <td>English, Mathematics, Integrated Science, I.C.T</td>
                          <td>65%</td>
                        </tr>
                      </tbody>
                  </table>
                </ul>
              </div>
            </div>
          </div>
      </div>
    </div>
    <!-- About End -->

{% endblock content %}