{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Reset Password
{% endblock title %}

{% block content %}

    <!-- Header Start -->
    <div class="container-fluid bg-primary mb-5">
      <div
        class="d-flex flex-column align-items-center justify-content-center"
        style="min-height: 400px"
      >
        <h3 class="display-3 font-weight-bold text-white">Password Reset</h3>
        <div class="d-inline-flex text-white">
          <p class="m-0"><a class="text-white" href="{% url 'home' %}">Home</a></p>
          <p class="m-0 px-2">/</p>
          <p class="m-0">Password Reset</p>
        </div>
      </div>
    </div>
    <!-- Header End -->

        <!-- About Start -->
    <div class="container-fluid py-5">
      <div class="container">
        <div>
            <p class="section-title pr-5">
              <span class="pr-2">Forgot Password</span>
            </p>
            <h1 class="mb-4">Password Reset Done</h1>
            <p class="email-message alert alert-danger"><strong>An email has been sent with instructions to reset your password</strong></p>
          </div>
      </div>
    </div>
    <!-- About End -->
{% endblock %}