{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <ol>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li>Reset Password</li>
        </ol>
        <h2>Set New Password</h2>

      </div>
    </section>
    <!-- End Breadcrumbs -->

    <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
              <h2>Reset Password</h2>
              <p>Set New Password</p>
            </div>
                    <form action="" method="post" class="email-reset">
                        {% csrf_token %}
                            {{ form|crispy }}
                        <input type="submit" value="Reset Password" class="btn btn-primary">
                    </form>
        </div>
    </section>
{% endblock %}